extends layouts/main

block content
    .editProfile__container
        .form__container
            form(action=`/user${routes.editProfile}`, method="post", enctype="multipart/form-data")
                .fileUpload
                    input(type="file", name="avatar", accept="image/*")
                input(type="text", name="name", placeholder="name", value=loggedUser.name)
                input(type="email", name="email", placeholder="email", value=loggedUser.email)
                input(type="submit", value="Update Profile")
