footer.footer
    span.footer__logo
        i.fab.fa-youtube
    span.footer__text #{siteTitle} #{new Date().getFullYear()} &copy;
    span.footer__madeBy MADE BY BYEORU
    span.footer__course WETUBE CHALLENGE