.socialLogin
    .socialLogin__text Social Login
    button.socialLogin__github
        a(href=routes.github)
            i.fab.fa-github
            |   Github Login
    button.socialLogin__kakao
        a(href=routes.kakao)
            i.fas.fa-comment
            |   Kakao Login